PORT=5000

MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/coldStorageDB

TEMP_MIN=2
TEMP_MAX=8

HUMIDITY_MIN=40
HUMIDITY_MAX=80

DOOR_WARNING_SECONDS=10
DOOR_CRITICAL_SECONDS=20